@forward "./base/index";
// @use "./util/index"; // type 01
@use "./util/index" as var;

// -----------------------------------------------------------------------
// using mixin and para style  
// type 01
// @mixin para-style{
//     font-size: 16px;
//     text-align: justify;
// }

// #education h4{
// @include para-style;
// }

// type 02
@mixin para-style($size,$style){
    font-size: $size;
    text-align: $style;
}
#education h3{
@include para-style(23px,justify );
}
// ---------------------------------------------------------------------

// extend keyword explore and use (inheritance with extend)
.btn{
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
  
}
.inpt{
    @extend .btn;
    background-color: beige;

}
// -------------------------------------------------------------------------



header{
    // background-color: index.$header_bg; //type 01
    background-color: var.$header_bg; //type 02
    padding: 1rem;
    
}
main{
    background-color: var.$main_bg;
    }
// ------------------------------------------------------------------------

// if, else if and else in sass - explore and use
@mixin setFontSize($value){
 @if $value == small {
    font-size: 14px;
 }
 @else if $value == medium {
    font-size: 18px;
 }
 @else if $value == large {
    font-size: 24px;
 }
 @else{
    font-size: none;
 }
}

#conditions h6{
@include setFontSize(large);
}
